# This is a Python requirements.txt file.
# It lists that Python packages you need to install to run these scripts.
# See https://pip.pypa.io/en/stable/user_guide/#requirements-files
click
pyyaml
pytest
numpy
scipy
astropy
git+https://github.com/regions/regions.git#egg=regions
git+https://github.com/gammapy/gammapy.git#egg=gammapy
